@import "../../theme.scss";
.category_icon {
  padding-bottom: 15px;
}
.hero_bg_wrapper {
  background-image: url("../../Assets/home/hero.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // width: 100%;

  .hero_content {
    height: 590px !important;

    .hero_title {
      font-size: 60px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 20px;
      color: $light;

      @media screen and (max-width: 768px) {
        font-size: 47px;
      }

      @media screen and (max-width: 500px) {
        font-size: 40px;
      }
    }
  }
}

.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(28, 28, 29, 0.721),
      rgba(31, 30, 30, 0.84)
    ),
    url("../../assets/home/bannerimg.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 350px;
  width: 100%;

  .hero_content {
    height: 350px;

    .hero_title {
      font-size: 40px;
      text-align: center;
      color: $light;

      @media screen and (max-width: 768px) {
        font-size: 35zpx;
      }

      @media screen and (max-width: 500px) {
        font-size: 25px;
      }
    }

    .hero_subtitle {
      font-size: 22px;
      text-align: center;
      color: $light;

      @media screen and (max-width: 768px) {
        font-size: 22px;
      }

      @media screen and (max-width: 500px) {
        font-size: 15px;
      }
    }

    .hero_subtitle span {
      font-size: 15px;
      text-align: center;
      color: $light;

      @media screen and (max-width: 768px) {
        font-size: 12px;
      }

      @media screen and (max-width: 500px) {
        font-size: 10px;
      }
    }
  }

  .hero_subtitle {
    font-size: 22px;
    text-align: center;
    color: $light;

    @media screen and (max-width: 768px) {
      font-size: 22px;
    }

    @media screen and (max-width: 500px) {
      font-size: 15px;
    }
  }

  .hero_subtitle span {
    font-size: 20px;
    text-align: center;
    color: $light;

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }

    @media screen and (max-width: 500px) {
      font-size: 10px;
    }
  }
}

@media (max-width: 767.98px) {
  .hero_content {
    height: 100px !important;
    margin: 30px 0;
  }
}
